.body{
    font-family:sans-serif;
}

.container{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

.main-navigation{
    display: inline;
}

.main-menu {
    display: inline;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}

.main-menu-item{
    display: inline;
    margin-left: 72px;
}

.main-menu-link{
color: #000;
font-size: 18px;
line-height: 135%;
text-decoration: none; 
}

/* banner */

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#00BDC9;
}

.banner-frame{
    padding: 92px 400px 92px 401px;
}

/* content */


.content{
    display: flex;
    margin: auto;
    width: 856px;
    padding: 88px 0px;
    flex-direction: column;
    align-items: center;
}
.main-content{
    width: 100%;
}

.main-content-title{
color: #000;
align-self: stretch;
text-align: center;
font-size: 48px;
font-weight: 600;
line-height: 135%;
margin-top: 0;
margin-bottom: 0;
}

.main-content-dscr{
color: #161616;
font-size: 21px;
font-weight: 500;
line-height: 150%;
margin-top: 0;
margin-bottom: 0;

}

.content-dscr-important{
    color: #04959E;
    font-size: 21px;
    font-weight: 600;
    line-height: 150%;
}

.main-content-text{
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    gap: 24px;
}


.main-content-list{
margin-top: 0;
margin-bottom: 0;
padding-left: 20px;
}

.main-content-item{
color: #161616;
font-size: 18px;
font-weight: 400;
line-height: 150%;
}

.main-content-link{
display: flex;
margin: auto;
color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 135%;
background-color: #04959E;
border: 0;
padding: 10px 24px;
}


.footer-line{
    border: 0;
    height: 1px;
    align-self: stretch;
    background: #161616;
    margin-top: 3px;
    margin-bottom: 0;

    
}

.footer{
    text-align: center;
    padding: 16px 0px;
    margin-left: 272px;
    margin-right: 272px;
}

.footer-text{
color: #161616;
font-size: 18px;
font-weight: 400;
line-height: 150%;
margin-top: 0;
margin-bottom: 0;
}