body{
    font-family:sans-serif;
}

.container{
    width: 1296px;
    margin-left: auto;
    margin-right: auto;
}

.page-header{
    background-color: #10BBD5;
    position: sticky;
    top: 0;
    z-index: 1;
}

.page-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.page-header-logo{
    display: flex;
    color: #F8FDFE;
    font-size: 24px;
    font-weight: 700; 
}

.page-header-logo::before{
    content: "";
    display: block;
    width: 26px;
    height: 28px;
    margin-right: 4px;
    background-image: url(../images/logobook.png);
}

.page-header-basket{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 8px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.page-header-balance{
margin-top: 0;
margin-bottom: 0;
color: #F8FDFE;
font-size: 16px;
line-height: 24px;
}

.page-header-count{
    margin-top: 0;
    margin-bottom: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(../images/cart.svg);
    background-size: cover;
    color: #000;
    font-size: 12px;
    line-height: 10px;
    border: none;
    cursor: pointer;
    background-color: #10BBD5;
    padding: 12px 12px 18px 19px;
}

.nav-list{
    background-color: #FFF;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.menu-category{
color: #000;
font-size: 16px;
line-height: 24px;
margin-top: 0;
margin-bottom: 0;
}

.menu-category-list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    gap: 40px;
}


.menu-category-link{  
color: #000;
font-size: 16px;
line-height: 24px;
}

.assortment{
    background-color: #EEEEEF;
}


.assortment-title{
display: block;
color: #1F1F1F;
font-size: 32px;
font-weight: 600;
line-height: 40px;
margin-top: 0;
margin-bottom: 0;
padding-top: 32px;
padding-bottom: 23px;
border-bottom: 1px solid #A8A8A8;
}

.directory-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    padding-bottom: 120px;
    row-gap: 32px;

}

.directory-card{
    background-color: #F8FDFE;
    padding: 32px;
    width: 306px;
    position: relative;
}


.directory-img{
 margin-left: 32px;
 margin-right: 32px;   
}

.directory-title{
    overflow: hidden;
    color: #1F1F1F;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 0;
    border-bottom: 1px solid #A8A8A8;
}

.directory-subtitle{
    overflow: hidden;
    color:  #8E8E8E;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 8px;
}


.directory-price{
color: #E90000;
font-size: 24px;
font-weight: 500;
line-height: 32px;
margin-top: 0;
margin-bottom: 16px;
}

.new-directory-price{
    margin-right: 24px;
}

.previous-directory-price{
color: #8E8E8E;
font-size: 24px;
font-weight: 500;
line-height: 32px;
text-decoration-line: strikethrough;
}

.directory-button-add{
border: none;
background-color: #4C394E;
color: #F8FDFE;
text-align: center;
font-size: 16px;
line-height: 24px;
padding: 8px 24px;
border-radius: 4px;
width: 242px;
cursor: pointer;
}

.directory-button-endup{
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    background-color: #4D762D; 
    border: none;
    padding: 8px 24px;
    width: 242px;
    border-radius: 4px;
    cursor: pointer;
}

.badge-hit{
color: #F8FDFE;
text-align: center;
font-size: 16px;
line-height: 24px;
background-color: #4200FF;
border-radius: 4px; 
padding: 4px 8px; 
margin-top: 0;
margin-bottom: 0;
border-radius: 4px;
position: absolute;
top: 32px;
left: 32px;
}

.badge-off{
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    background-color: #EA33C0;
    padding: 4px 8px; 
    border-radius: 4px; 
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 32px;
    left: 72px;
}

.badge-off-20{
    position: absolute;
    top: 32px;
    left: 32px;   
}

.badge-off-new{
    position: absolute;
    top: 32px;
    left: 83px;   
}

.badge-new{
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    background-color: #AF39E7;
    padding: 4px 8px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 4px;
    position: absolute;
    top: 32px;
    left: 32px;
}

.page-footer{
    background-color: #4C394E;   
}

.page-footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.page-footer-text{
    color: #F8FDFE;
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
}


.chat{
  padding: 6.4px;
  background-color: #10BBD5; 
  border-radius: 50%;
  border: none;
  position: fixed;
  top: 680px;
  right: 260px;
  cursor: pointer;
}

         