.body{
    font-family:sans-serif;
}

.page-header{
    margin-top: 63px;
    margin-bottom: 49px;
}

.container{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}


.logo{
display: inline;
color: #000;
font-size: 80px;
font-weight: 400;
margin-top: 0;
margin-bottom: 0;
}


.accent{
color: #4BCAFF;
font-size: 80px;
font-weight: 400;
}

.main-navigation{
    margin-top: 40px;
}

.main-menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    background-color: #35444F;
}




.menu-link-line{
    border-left: 1px solid #FFF; 
}

.main-menu-link{
    display: inline-block;
    color: #FFF;
    border-right: 1px solid #FFF;
    padding-top: 24px;
    padding-bottom: 18px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 24px;
font-weight: 400;

}


.left-menu{
    border: 1px solid #000;
    height: 50%;
}

.menu-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;    
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.menu-item{
    padding-right: 82px;
    padding-left: 44px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.menu-link{
    color: #485863;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
}


.menu-img{
    display: flex;
    background: rgba(0, 0, 0, 0.00);
    border: 1px solid #000;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    padding: 75px 268px 73px 297px;
    margin-bottom: 37px; 
}

.main-page-dscr{
width: 885px;
}

.main-page-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 52px;
} 

.main-text{
color: #2C2C2C;
font-size: 18px;
line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.text-ua{
    margin-bottom: 13px;
}


.page-footer-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    background: rgba(99, 105, 110, 0.48);
}



.page-footer-list{
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    margin-left: 40px;
gap: 30px;
}

.page-footer-item{
margin-top: 20px;
margin-bottom: 20px;
}

.page-footer-link{
color: #0C1927;
font-size: 28px;;
line-height: 28px;
}

.page-footer-text{
color: #010101;
font-size: 24px;
line-height: 24px; 
margin-top: 0;
margin-bottom: 0;
padding-top: 20px;
padding-bottom: 20px;
margin-right: 40px;
}



