.body{
    font-family:sans-serif;
}

.container{
width: 1280px;
margin-left: auto;
margin-right: auto;
}

.page-header{
    border-bottom: 1px solid #EBE8F4; 
}

.page-header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #22202E;
    font-size: 24px;
}


.page-header-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
    margin-top: 30px;
    margin-bottom: 30px;
    list-style-type: none;
    padding-left: 0;
}


.page-header-link{
color: #726E8D;
font-size: 16px;
}

.icon-list{
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding-left: 0;
    margin-top: 30px;
    margin-bottom: 35px;
}


.icon-link-search{
    display: block;
    width: 16px;
    height: 16px;
    background-image:url(../img/search.svg);
}

.icon-link-shopping{
    display: block;
    width: 16px;
    height: 16px;
    background-image:url(../img/shopping--cart.svg);
}

.icon-link-avatar{
    display: block;
    width: 16px;
    height: 16px;
    background-image:url(../img/user--avatar.svg);
}


.sorting-title{
color: #2A254B;
font-size: 36px;
font-weight: 400;
line-height: 140%;
text-align: center;
margin-top: 80px;
margin-bottom: 24px;
}

.sorting-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sorting-filters{
    display: flex;
    padding: 8px 24px;
    margin-bottom: 8px;
    list-style-type: none;
    align-items: center;

}


.sorting-select{
    color: #2A254B;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px
}


.sorting-text{
    text-align: center;
    line-height: 3em;
    color: #2A254B;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 16px;
}



.product-container{
    display: grid;
    grid-template-columns: 305px 305px 305px 305px;
    justify-content: center;
    align-content: center;
    gap: 28px 20px;
    margin-bottom: 48px;
    padding-top: 28px;
}

.product-img{
    width: 305px;
    height: 375px;
}

.last-product-container{
   margin-bottom: 28px; 
}

.product-title{
color:#2A254B;
font-size: 20px;
font-weight: 400;
line-height: 140%;
margin-top: 24px;
margin-bottom: 8px;
}

.product-text{
color: #2A254B;
font-size: 18px;
line-height: 150%;
margin-top: 0;
margin-bottom: 0;
}

.product-button{
color: #2A254B;
font-size: 16px;
line-height: 150%;
display: block;
margin-left: auto;
margin-right: auto;
padding: 16px 32px;
border: none;
background-color: #F9F9F9;
cursor: pointer;
margin-bottom: 40px;
}

.sign-up{
    background-image: url(../img/join-background.jpg);
    background-repeat: no-repeat;
    background-size: 50% 100%;
}

.sign-up-container{
    padding-left: 640px;
}

.sign-up-title{
color: #2A254B;
font-size: 32px;
font-weight: 400;
margin-top: 0;
margin-bottom: 20px;
width: 540px;
margin-left: 49px;
padding-top: 70px;
}

.sign-up-text{
color: #2A254B;
font-size: 16px;
line-height: 150%;
margin-top: 0;
margin-bottom: 215px;
margin-left: 49px;
width: 470px
}

.sign-up-button{
border: none;
padding: 16px 32px;
color:  #FFF;
font-size: 16px;
line-height: 150%;
background-color: #2A254B;
cursor: pointer;
margin-bottom: 70px;
width: 120px;
margin-left: 72px;
}

.page-footer{
    background-color: #2A254B;
}

.top-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
    border-bottom: 1px solid #4E4D93;
}

.top-footer-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 58px;
}

.top-footer-text{
    color: #FFF;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.top-footer-link{
color: #FFF;
font-size: 14px;
}

.under-footer{
display: flex;
justify-content: space-between;
}

.under-footer-text{
color: #FFF;
font-size: 14px;
margin-top: 25px;
margin-bottom: 25px;
}

.under-footer-icon-list{
    display: flex;
    list-style-type: none;
    gap: 24px;
    padding-left: 0;   
    margin-top: 22px;
    margin-bottom: 22px;
}

.under-footer-icon-link1{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/logo--linkedin.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.under-footer-icon-link2{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/logo--facebook.svg); 
    background-repeat: no-repeat;
    background-size: cover;
}

.under-footer-icon-link3{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/logo--instagram.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.under-footer-icon-link4{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/logo--skype.svg);
    background-repeat: no-repeat;
        background-size: cover;
}

.under-footer-icon-link5{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/logo--twitter.svg);
    background-repeat: no-repeat;
        background-size: cover;
}

.under-footer-icon-link6{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/logo--pinterest.svg);
    background-repeat: no-repeat;
        background-size: cover;
}