body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.page-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 17px 79px;
    background-color: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.page-header-logo{
color: #FFF;
font-size: 22px;
font-weight: 700;
line-height: 22px;
}

.page-header-logo:hover{
    color: #3CB878;
    transition: 0.2s all ease-in-out;
}

.page-header-navigation{
    display: flex;
}

.icon-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    margin-right: 20px;
}

.icon-link{
    display: block;
    max-height: 24px;
    color: #FFFFFF;
}


.icon-link:hover{
    color: #3CB878;
    transition: 0.2s all ease-in-out;
}

.page-header-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.page-header-list::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    width: 1px;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0.5;
}

.page-header-text{
    color: #FFF;
    font-size: 14px;
    line-height: 14px;
}


.page-header-login{
    padding-right: 3px;
}

.hover-link{
    cursor: pointer;
}

.hover-link:hover{
    color: #3CB878;
    transition: 0.2s all ease-in-out;
}

.main-page-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sign-up-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    padding: 30px 60px 38px;
    position: relative;
}

.main-page-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.main-page-list{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.main-page-title{
    color: #434343;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.main-page-title::before{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 30px;
    left: 0;

}

.main-page-link{
color: #3CB878;
font-size: 14px;
line-height: 14px;
margin-top: 0;
margin-bottom: 0;
cursor: pointer;
}

.main-page-link:hover{
    color: #01813F;
    text-decoration: underline;
    transition: 0.2s all ease-in-out;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 31px;
}

.sign-up-button{
    border: none;
    border-radius: 4px;
    color: #FFF;
font-size: 16px;
line-height: 16px;
cursor: pointer;
gap: 4px;
}

.sign-button-facebook{
    background-color: #305DB8;
    padding-left: 47px;
    padding-right: 22px;
    background-image: url(../img/facebook.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 12px;
}

.sign-button-facebook::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 28px;
    margin-right: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #0A162F;
    opacity: 0.1;
}

.sign-button-facebook:hover{
    background-color: #022263;
    transition: 0.2s all ease-in-out;
}

.sign-button-google{
    background-color: #DF4A32;
    padding-left: 46px;
    padding-right: 27px;
    background-image: url(../img/googleplus.png);
    background-size: 30px 19px;
    background-repeat: no-repeat;
    background-position: 12px;
}

.sign-button-google::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 28px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    background-color: #2B0D09;
    opacity: 0.1;
}

.sign-button-google:hover{
    background-color: #AB1F09;
    transition: 0.2s all ease-in-out;
}

.form-group{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-page-choice{
color: #848484;
font-size: 14px;
line-height: 14px;
text-align: center;
margin-top: 0;
margin-bottom: 12px;
position: relative;
}

.main-page-choice::before{
    content: "";
    display: block;
    width: 152px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-right: 3px;
    background-color: #F2F2F2;
}

.main-page-choice::after{
    content: "";
    display: block;
    width: 152px;
    height: 1px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-left: 3px;
    background-color: #F2F2F2;
}

.inputs-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 12px;
}

.form-input{
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding: 15px 0 15px 20px;
    outline: none;
}

::placeholder{
    color: #BEBEBE;
    font-size: 14px;
    line-height: 14px;
}

.form-input:focus{
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    transition: 0.3s all ease-in-out;
}

.form-agreement{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.form-checkbox{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
    position: relative;
    cursor: pointer;
}

.form-checkbox::before{
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    background-image: url(../img/checkbox.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    transition: 0.2s all ease-in-out;
    opacity: 0;
}

.form-checkbox:checked::before{
    opacity: 1;
}

.form-text{
display: flex;    
align-items: center;
color: #434343;
font-size: 14px;
line-height: 14px;
cursor: pointer;
}


.accent-link{
    display: flex;
    flex-direction: column;
    color: #3CB878;
    margin-left: 3px;
    position: relative;
}

.accent-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: #01813F;
    height: 1px;
    width: 0;
    transition: 0.3s;
}

.accent-link:hover{
    color: #01813F;
}

.accent-link:hover::after{
    width: 100%;
    transition: 0.5s ease-in-out;
}


.submit-button{
    color: #FFF;
    font-size: 16px;
    line-height: 16px;
    border: none;
    border-radius: 4px;
    background-color: rgba(60, 184, 120, 0.80);
    padding: 16px 99px;
    cursor: pointer;
}

.submit-button:hover{
    background-color: #01813F;
    transition: 0.2s all ease-in-out;
}