body{
    font-family: 'Quicksand', sans-serif;
}

.container{
    width: 1296px;
    margin-left: auto;
    margin-right: auto;
}

.page-header{
    margin-top: 30px;
    margin-bottom: 80px;
}

.page-header-navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.left-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 44px;
}


.logo{
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
}

.left-wrapper-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    appearance: none;
    color: #EEE;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    border: none;
    background-color: #0F8277;
    border-radius: 4px;
    padding: 10px 12px;
    cursor: pointer;
}

.left-wrapper-button::after{
    content: "";
    display: block;
    width: 10px;
    height: 14px;
    background-image: url(../images/frame1.svg);
    background-position: center;
}

.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    width: 330px;
    border-radius: 4px;
    border: 1px solid #5C5C5C;
}

::placeholder{
    color: #5C5C5C;
    font-size: 16px;
    line-height: 120%;
}

.search-button{
    padding: 10px;
    border: none;
    background-color: #0F8277;
    border-left: 1px solid #5C5C5C;
    cursor: pointer;
}

.search{
    border: none;
    padding: 0;
    width: 225px;
    outline: none;
}

.right-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 104px;
}

.right-wrapper-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    gap: 48px;
}
.right-wrapper-link{
color: #000;
font-size: 16px;
line-height: 120%;
}

.button-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.button-menu-login{
color: #0F8277;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 120%;
padding: 10px 12px;
}

.green-buttons{
display: block;
color: #EEE;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 120%;
border-radius: 4px;
background: #0F8277;
padding: 10px 12px;
}

/* banner */

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 94px;
    border-radius: 12px;
    background-color: #DBF3ED;
}

.banner-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 512px;
    gap: 32px;
}

.banner-title{
color: #000;
font-size: 56px;
line-height: 120%;
margin-top: 0;
margin-bottom: 0;
}

.banner-subtitle{
color: #000;
font-size: 22px;
font-weight: 600;
line-height: 120%;
margin-top: 0;
margin-bottom: 0;
}

.banner-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.banner-link-learn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0F8277;
    font-size: 16px;
    line-height: 120%;
    padding: 10px 12px;
    border-radius: 4px;
    font-weight: 700;
    border: 2px solid #0F8277;
    background-color: rgba(0, 0, 0, 0);
    height: 39px;
}

.banner-img{
    margin-top: 39px;
    margin-bottom: 30px;
}

/* programs */

.programs{
    margin-bottom: 80px;
}

.programs-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: fit-content;
}

.program-title{
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}

.section-title{
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}

.program-text{
    color: #000;
    font-size: 20px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}

.cards-container{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.card{
    display: flex;
    align-items: flex-start;
    max-width: 416px;
}

.card-link{
    display: block;
    border-radius: 8px;
    border: 1px solid #DADADA;
}

.card-img{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 16px;
    height: 210px;
}

.card-content-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.card-content-text{
    display: flex;
    align-items: center;
    gap: 12px;
    color: #000;
    font-size: 16px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
    width: max-content;
}

.content-title{
    color: #000;
    font-size: 24px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}

.card-footer-text{
    color: #0F8277;
    font-size: 16px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}

.footer-text-icon{
    margin-right: 12px;
}


/* courses */

.courses{
    margin-bottom: 80px;
}

.courses-card{
    display: flex;
    align-items: flex-start;
    max-width: 306px;
}

.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}

/* category */

.category{
    margin-bottom: 80px; 
}

.category-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.category-lists-container{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.category-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    width: 306px;
}

.category-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-text{
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}

.category-subtext{
    color: #000;
    font-size: 16px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}

/* partners */

.partners{
    background-color: #DBF3ED;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 80px;
}

.partners-container{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.section-centre-title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title-width{
    width: 870px;
}

.partners-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

/* bussines */

.bussines{
    margin-bottom: 70px;
}

.bussines-container{
    display: flex;
    gap: 72px;
}

.bussines-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    width: 636px;
}

.bussines-subtitle{
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
    width: 568px;
}

.bussines-button{
    color: #EEE;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    border: none;
    border-radius: 4px;
    background-color: #0F8277;
    padding: 10px 12px;
    width: max-content;
    cursor: pointer;
}

.buissiness-list{
    display: grid;
    grid-template-columns: repeat(3,196px);
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.buissiness-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 136px;
}

.buissiness-item:first-child{
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.buissiness-item:nth-child(2){
    border-bottom: 1px solid #BABABA;
}

.buissiness-item:nth-child(3){
    border-bottom: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
}

.buissiness-item:nth-child(4){
    border-right: 1px solid #BABABA;
}

.buissiness-item:nth-child(6){
    border-left: 1px solid #BABABA;
}

.buissiness-item:nth-child(7){
    border-top: 1px solid #BABABA;
    border-right: 1px solid #BABABA;
}

.buissiness-item:nth-child(8){
    border-top: 1px solid #BABABA;
}

.buissiness-item:nth-child(9){
    border-top: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
}

/* price */

.price{
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #DBF3ED;
    margin-bottom: 80px;
}

.price-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.all-prices{
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.plan1{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    width: 416px;
    padding: 56px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background-color: #FDFDFD;
}

.plan1-content{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.plan-title-content{
    text-align: center;
}

.plan1-title{
    color: #000;
    font-size: 24px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 27px;
}

.plan1-subtitle{
    color: #000;
    font-size: 16px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 27px;
}

.plan1-price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 304px;
    gap: 16px;
    color: #000;
    font-size: 40px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 75px;
}

.plan3-price{
    margin-bottom: 46px;
}

.accent{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}

.plan1-link{
    display: inline-block;
    color: #F6FDFF;
    font-size: 18px;
    letter-spacing: 0.72px;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #0F8277;
    height: 42px;
}

.plan1-line{
    display: inline-block;
    height: 2px;
    align-self: stretch;
    border-radius: 80px;
    background-color: #0F8277;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.plan1-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.plan1-item{
    display: flex;
    gap: 16px;
    color: #000;
    font-size: 16px;
    line-height: 120%;
}

.plan1-item::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/bullit.svg);
    padding: 8px;
}

.plan2{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    width: 416px;
    padding: 56px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background-color: #0F8277;
}

.plan2-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

.plan2-title-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 304px;
    gap: 27px;
}

.plan2-title{
    color: #FFF;
    font-size: 24px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.plan2-subtitle{
    color: #FFF;
    font-size: 16px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.plan2-price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #FFF;
    font-size: 40px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}

.plan2-accent{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}

.plan2-link{
    color: #FFF;
    font-size: 18px;
    letter-spacing: 0.72px;
    border-radius: 4px;
    border: 2px solid #FFF;
    background-color: #0F8277;
    padding: 10px 12px;
    height: 42px;
}

.plan2-line{
    display: inline-block;
    height: 1px;
    align-self: stretch;
    border-radius: 80px;
    background-color: #FFF;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    border: none;
}

.plan2-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.plan2-item{
    display: flex;
    gap: 16px;
    color: #FFF;
    font-size: 16px;
    line-height: 120%;
}

.plan2-item::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 500px;
    background-image: url(../images/bullitwhite.svg);
    padding: 8px;
}

/* students */

.students{
    margin-bottom: 76.5px;
}

.students-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.students-list{
    display: grid;
    grid-template-columns: repeat(4, 306px);
    grid-template-rows: repeat(3, 210.5px);
    gap: 24px 23.5px;
    grid-template-areas: 
    "students1 students9 students9 students8"
    "students2 students9 students9 students7"
    "students3 students4 students5 students6";
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.students-img{
    width: 306px;
    height: 210.5px;
}

.last-student-img{
    width: 636px;
    height: 445px;
}

.students-1{
grid-area: students1;
}

.students-2{
    grid-area: students2;
}

.students-3{
    grid-area: students3;
}

.students-4{
    grid-area: students4;
}

.students-5{
    grid-area: students5;
}

.students-6{
    grid-area: students6;
}

.students-7{
    grid-area: students7;
}

.students-8{
    grid-area: students8;
}

.students-9{
    grid-area: students9;
}

/* contact */

.contact{
    padding-top: 65px;
    padding-bottom: 65px;
    background: rgba(0, 0, 0, 0.60) url(../images/contactimg.png);
    background-size: cover;
    background-blend-mode: darken;
}

.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 565px;
    padding: 30px;
    border-radius: 24px;
    background-color: #DBF3ED;
}

.contact-form-subtitle{
    color: #000;
    text-align: center;
    font-size: 20px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}

.contact-form-label{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
}

.contact-form-input{
    border-radius: 4px;
    border: 1px solid #0F8277;
    background-color: #FDFDFD;
    outline: none;
    padding: 12px;
}

::placeholder{
    color: #8E8E8E;
    font-size: 16px;
    line-height: 24px;
}

.contact-form-textarea{
    display: block;
    resize: none;
    height: 104px;
    padding: 12px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background-color: #FDFDFD;
}

.contact-form-button{
    color: #F6FDFF;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.72px;
    border-radius: 4px;
    background-color: #0F8277;
    border: none;
    padding: 10px 12px;
    width: 196px;
}

.footer-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.left-footer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 16px;
    width: 306px;
}

.left-wrapper-title{
    color: #000;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.64px;
    margin-top: 0;
    margin-bottom: 0;
}

.left-wrapper-subtitle{
    color: #000;
    font-size: 16px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}

.right-footer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 60px;
}

.footer-navigation-list{
    display: flex;
    gap: 24px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.footer-navigation-link{
    display: block;
    width: 32px;
    height: 32px;
}

.footer-navigation-item:first-child{
    background-image: url(../images/frame/frameinstagram.svg);
}

.footer-navigation-item:nth-child(2){
    background-image: url(../images/frame/framefacebook.svg);
}

.footer-navigation-item:last-child{
    background-image: url(../images/frame/framein.svg);
}

.footer-text{
    color: #000;
    text-align: right;
    font-size: 16px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}