.assortment{
    background-color: #EEEEEF;
}


.assortment__title{
display: block;
color: #1F1F1F;
font-size: 32px;
font-weight: 600;
line-height: 40px;
margin-top: 0;
margin-bottom: 0;
padding-top: 32px;
padding-bottom: 23px;
border-bottom: 1px solid #A8A8A8;
}

.assortment__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    padding-bottom: 120px;
    row-gap: 32px;

}

.assortment__card{
    background-color: #F8FDFE;
    padding: 32px;
    width: 306px;
    position: relative;
}


.assortment__img{
 margin-left: 32px;
 margin-right: 32px;   
}

.card__title{
    overflow: hidden;
    color: #1F1F1F;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 0;
    border-bottom: 1px solid #A8A8A8;
}

.assortment__subtitle{
    overflow: hidden;
    color:  #8E8E8E;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 8px;
}


.assortment__price{
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 16px;

&--new{
    margin-right: 24px;
}

&--previous{
color: #8E8E8E;
font-size: 24px;
font-weight: 500;
line-height: 32px;
text-decoration-line: strikethrough;
}
}

.assortment__button{
    border: none;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 24px;
    width: 242px;
    border-radius: 4px;
    cursor: pointer;

    &--add{
    background-color: #4C394E;
    }
    
    &--endup{
        background-color: #4D762D; 
    }
}


.assortment__badge-hit{
color: #F8FDFE;
text-align: center;
font-size: 16px;
line-height: 24px;
background-color: #4200FF;
border-radius: 4px; 
padding: 4px 8px; 
margin-top: 0;
margin-bottom: 0;
border-radius: 4px;
position: absolute;
top: 32px;
left: 32px;
}

.assortment__badge-off{
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    background-color: #EA33C0;
    padding: 4px 8px; 
    border-radius: 4px; 
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 32px;
    left: 72px;

    &--solo{
        position: absolute;
        top: 32px;
        left: 32px;   
    }
    
    &--with-new{
        position: absolute;
        top: 32px;
        left: 83px;   
    }
}


.assortment__badge-new{
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    background-color: #AF39E7;
    padding: 4px 8px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 4px;
    position: absolute;
    top: 32px;
    left: 32px;
}

.chat{
  padding: 6.4px;
  background-color: #10BBD5; 
  border-radius: 50%;
  border: none;
  position: fixed;
  top: 680px;
  right: 260px;
  cursor: pointer;
}