.menu{
    background-color: #FFF;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.menu__text{
color: #000;
font-size: 16px;
line-height: 24px;
margin-top: 0;
margin-bottom: 0;
}

.menu__list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    gap: 40px;
}


.menu__link{  
color: #000;
font-size: 16px;
line-height: 24px;
}