.container{
    width: 1296px;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar{
    background-color: #10BBD5;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-bar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.nav-bar__logo{
    display: flex;
    color: #F8FDFE;
    font-size: 24px;
    font-weight: 700; 

    &::before{
        content: "";
        display: block;
        width: 26px;
        height: 28px;
        margin-right: 4px;
        background-image: url(../images/logobook.png);
    }
}


.nav-bar__basket{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 8px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.nav-bar__balance{
margin-top: 0;
margin-bottom: 0;
color: #F8FDFE;
font-size: 16px;
line-height: 24px;
}

.nav-bar__count{
    margin-top: 0;
    margin-bottom: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(../images/cart.svg);
    background-size: cover;
    color: #000;
    font-size: 12px;
    line-height: 10px;
    border: none;
    cursor: pointer;
    background-color: #10BBD5;
    padding: 12px 12px 18px 19px;
}
