.page-footer{
    background-color: #4C394E;   
}

.page-footer__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.page-footer__text{
    color: #F8FDFE;
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
}
